p {
    font-family: "Myanmar Text", "Noto Sans", sans-serif;
    color: white;
    font-size: min(4vw, 12pt);
    text-decoration: none;
    margin-bottom: 12pt;
}

h1 {
    font-family: "Myanmar Text", "Noto Sans", sans-serif;
    color: white;
    font-size: min(8vw, 45pt);
    margin: auto;
    width: 80%;
}

.byline {
    color: grey;
    font-weight: bold;
}

.main-text {
    margin-left: min(30px, 5%);
    margin-right: min(30px, 5%);
}
