p.title {
    font-size: min(10vw,50pt);
    color: white;
    font-family: "Myanmar Text", "Noto Sans", sans-serif;
    font-weight: bolder;
    margin-bottom: 25px;
    margin-top: 25px;
    line-height: 0.8;
}

.header-container{
    display: flex;
}

.header-item{
    flex-shrink:1;
}


.links-container{
    display: flex;
    background-color: transparent;
    color: white;
    font-family: "Myanmar Text", "Noto Sans", sans-serif;
    margin-left: 5%;
}

.item{
    flex-grow: 1;
}

.menu-button{
    text-align: center;
    border: 3px solid white;
    background-color: black;
    color:white;

    width : 90%;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 20px;
}

.menu-button:hover{
    background-color: white;
    color:black;
}

body {
    background-color: black;
}

p {
    font-family: "Myanmar Text", "Noto Sans", sans-serif;
    color: white;
    margin-bottom: 3px;
    margin-top: 3px;
}

p.article-text{
    margin-left:5%;
    margin-right: 5%;
    margin-bottom: 3%;
}